body {
  font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Fira Sans', sans-serif;
}

blockquote {
  font-family: 'Archivo Narrow', sans-serif;
  background-color: rgb(230, 230, 240);
  padding: 0.25em 0.5em 0.25em 1.5em;
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: rgb(120, 120, 130);
  margin-right: 25%;
}
